@model List<FunctionViewModel>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="min-height:1000px">
    <div class="menu_section">
        @*<h3>Functions</h3>*@
        <hr style="color:aliceblue; height: 1px"/>
        <ul class="nav side-menu">
            @foreach (var item in Model.Where(x=>string.IsNullOrEmpty(x.ParentId)))
            {
                <li>
                    <a><i class="fa @item.IconCss"></i> @item.Name <span class="fa fa-chevron-down"></span></a>
                    @if (Model.Any(x => x.ParentId == item.Id))
                    {
                        <ul class="nav child_menu" style="font-family: Montserrat">
                            @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                            {
                                <li><a href="@jitem.URL">@jitem.Name</a></li>

                            }
                        </ul>
                    }
                   
                </li>

            }
           
        </ul>
    </div>
</div>